{% extends '::base.html.twig' %}
{% block title %}
    {{ "order.confirm"|trans }}
{% endblock %}
{% block body %}
    <div class="grid-container">
        <div class="grid-100">
            <p>
                Ved at trykke godkend accepterer du vores bla bla. og vil blive ført videre til betalingen.
            </p>
            {{ form(form) }}
        </div>
    </div>
    <hr/>
    {% include "tsCMSShopBundle:Shop:orderView.html.twig" with {order:order} %}
{% endblock %}
